extends layout

block content
  h1 Chatting Room
  p Welcome!! #{nickname}
  form(action="/makeroom" method="post")
    label Title
    input(type="text" name="roomname")
    br
    input(type="submit" value="MakeRoom")
  ul
  each room in roomlist
    li= room
      a(href="/join/" + room) Enter!!
  a(href="http://localhost:8082/myapp/main") メイン