div#footer
  a(href='/pppp/login2.html')
    button(type="button") Login
  a(href='/pppp/adduser2.html')
    button(type="button") Add User
  a(href="/pppp/listuser.html")
    button(type="button") User List