<!DOCTYPE html>
<html>
	<%include ./header.ejs%>
	<body>
		<h1>Login success ejs</h1>
		<div><p>User ID : <%=id%></p></div>
		<div><p>User Password : <%=name%></p></div>
		<%include ./footer.ejs%>
	</body>
</html>